{% extends 'base.html.twig' %}

{% block title %}Cooptation index{% endblock %}

{% block body %}
    <h1>Cooptation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>CvPath</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cooptation in cooptations %}
            <tr>
                <td>{{ cooptation.id }}</td>
                <td>{{ cooptation.firstname }}</td>
                <td>{{ cooptation.lastname }}</td>
                <td>{{ cooptation.email }}</td>
                <td>{{ cooptation.cvPath }}</td>
                <td>{{ cooptation.status }}</td>
                <td>{{ cooptation.createdAt ? cooptation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cooptation.updatedAt ? cooptation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('back_app_cooptation_edit', {'id': cooptation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_app_cooptation_new') }}">Create new</a>
{% endblock %}
