{% extends 'base.html.twig' %}
{% import 'components/components.html.twig' as components %}

{% block title %}
	Devisio
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<section>
		<nav class="w-full bg-[#282B2A] h-[100px] flex justify-between items-center">
			<div class="ml-[10%]">
				<img src="{{ asset('build/images/logo.png') }}" class="w-50 h-28" alt="Logo">
			</div>
			<div class="mr-[10%]">
				<a class="text-white font-bold" href="{{path('app_login')}}">Se connecter</a>
			</div>
		</nav>
		<section class="dark:bg-gray-800 dark:text-gray-100">
			<div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl">
				<h1 class="text-4xl font-bold leading-relaxed">Bienvenue sur
					<span class="text-[#5B98D2]">myCarbon</span>, la plateforme destinée aux collaborateurs !
				</h1>
				<p class="px-8 mt-8 mb-12 text-lg">Cupiditate minima voluptate temporibus quia? Architecto beatae esse ab amet vero eaque explicabo!</p>
				<div class="flex flex-wrap justify-center">
					<a href="{{path('app_login')}}" class="px-4 py-3 bg-[#5B98D2] rounded text-white font-bold">Se connecter</a>
				</div>
			</div>
		</section>
	</section>
{% endblock %}
