{% extends 'base.html.twig' %}
{% import 'components/components.html.twig' as components%}

{% block title %}
	Utilisateurs
{% endblock %}

{% block body %}
	<div class="list-wrapper">
		<a href="{{ path('back_app_user_new') }}" class="devisio-btn devisio-btn-add">
			Nouvel utilisateur
		</a>
		<table class="table">
			<thead>
			<tr>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Fonction</th>
			</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.profile.name }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
