{% extends 'base.html.twig' %}
{% import 'components/components.html.twig' as components%}


{% block title %}
    Certificats de fin de formation
{% endblock %}

{% block body %}
    <div class="list-wrapper">

        <table class="table">
            <thead>
                <tr>
                    <th>Collaborateur</th>
                    <th>Formation</th>
                    <th>Status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for formationRegister in formationsRegister %}
                <tr>
                    <td>{{ formationRegister.collaborator.lastname ~ ' ' ~ formationRegister.collaborator.firstname }}</td>
                    <td>{{ formationRegister.formation.title }}</td>
                    <td>
                        {% if formationRegister.status %}
                            Validée
                        {% else %}
                            En attente
                        {% endif %}
                    </td>
                    <td>
                        <div class="dropdown-actions">
                            <form method="post" class="w-[50%]" action="{{ path('back_app_register_formation_certificate_validate')}}">
                                <input type="hidden" name="collaborator" value="{{ formationRegister.collaborator.id }}"/>
                                <input type="hidden" name="formation" value="{{ formationRegister.formation.id }}"/>
                                <button type="submit" class="mb-[20px] px-4 py-3 bg-[#5B98D2] rounded text-white">Valider</button>
                            </form>
                        </div>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
