
{#(form, {'attr': { 'input type':'date' 'class':'x-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-blue-500'}})#}

<form method="POST" class="  w-full max-w-2xl  mt-16 mr-auto ml-auto bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
    {{ form_start(form) }}
    <div class="flex justify-center text-2xl">
        <h1 class="mt-6">
    {% if form.vars.value.id is not null %}
        Modification un contrat
    {% else %}
      Ajouter un contrat
    {% endif %}
</h1>
    </div>
    <div class="px-4 py-6 sm:p-8 ">
        <div class="grid grid-cols-1 gap-x-6 gap-y-8 justify-items-center">
            <div class="w-full">
                {{ form_label(form.offer, 'Titre', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
                {{ form_widget(form.offer, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
                {{ form_errors(form.offer, {'attr': {'class': 'text-sm text-red-600'}}) }}
            </div>
            <div class="w-full">
                {{ form_label(form.collaborator, 'Description', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
                {{ form_widget(form.collaborator, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
                {{ form_errors(form.collaborator, {'attr': {'class': 'text-sm text-red-600'}}) }}
            </div>
               <div class="w-full">
                {{ form_label(form.start_date, 'Nom de l\'entreprise', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
                {{ form_widget(form.start_date, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
                {{ form_errors(form.start_date, {'attr': {'class': 'text-sm text-red-600'}}) }}
            </div>
             <div class="w-full">
                {{ form_label(form.end_date, 'Nom de l\'entreprise', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
                {{ form_widget(form.end_date, {'attr': {'class': 'mt-2  w-full flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-secondary'}}) }}
                {{ form_errors(form.end_date, {'attr': {'class': 'text-sm text-red-600'}}) }}
            </div>
           
           
        </div>
    </div>
    <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
        <a href="{{ path('back_app_contracts_index') }}"
           class="text-sm font-semibold leading-6 text-gray-900">Annuler</a>
        <button type="submit"
                class="rounded-md bg-secondary px-3 py-2 text-sm font-semibold text-white shadow-sm bg-green-600">
            Enregistrer
        </button>

    </div>

    {{ form_end(form) }}
</form>

