{% extends 'base.html.twig' %}
{% import 'components/components.html.twig' as components%}

{% block title %}Contrat {% endblock %}

{% block body %}
    <div class="list-wrapper">
        {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_RH')  %}
            <a href="{{ path('back_app_contracts_new') }}" class="devisio-btn devisio-btn-add">
                Nouveau contrat
            </a>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Offre</th>
                    <th>Entreprise</th>
                    <th>Collaborateur</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_RH')  %}
                         <th>actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for contract in contracts %}
                <tr>
                    <td>{{ contract.id }}</td>
                    <td>{{ contract.offer.name }}</td>
                    <td>{{ contract.offer.companyName }}</td>
                    <td>{{ contract.collaborator.firstname   ~ ' ' ~  contract.collaborator.lastname }}</td>
                    <td>{{ contract.startDate|date('d-m-Y') }}</td>
                    <td>{{ contract.endDate|date('d-m-Y') }}</td>
                    {% if is_granted('ROLE_COMMERCIAL') or is_granted('ROLE_RH')  %}
                        <td>{{ components.table_actions('contracts', contract) }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
