{% extends 'base.html.twig' %}
{% import 'components/components.html.twig' as components%}

{% block title %}Formation index{% endblock %}

{% block body %}

    <div class="list-wrapper">
        <a href="{{ path('back_app_formation_new') }}" class="devisio-btn devisio-btn-add">
            Nouveau formateur
        </a>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for formation in formations %}
                <tr>
                    <td>{{ formation.id }}</td>
                    <td>{{ formation.title }}</td>
                    <td>{{ formation.description }}</td>
                    <td>{{ components.table_actions('formation', formation) }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
