<div class="form-wrapper">
  <h1>
    {{ title|default('New') }}
  </h1>
  <a class="devisio-btn devisio-btn-back-to-list"
    href="{{ back_to_list_path|default(path('back_app_user_index')) }}">
    Retourner à la liste
  </a>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button class="devisio-btn devisio-btn-save">
    {{ button_label|default('Sauvegarder') }}
  </button>
  {{ form_end(form) }}
</div>
