{% extends 'base.html.twig' %}

{% block title %}Formation index
{% endblock %}

{% block body %}


	<section class="py-6 sm:py-12 dark:bg-gray-800 dark:text-gray-100 flex items-center h-full relative">
		<div class="container p-6 mx-auto space-y-8">
			<div class="space-y-2 text-center">
				<h2 class="text-3xl font-bold">Liste de mes formations en cours</h2>
				<p class="font-serif text-sm dark:text-gray-400">Développez vos compétences et boostez votre carrière en participant à nos formations de pointe !</p>
			</div>
			<div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4">
				{% for formation in pagination %}
					<article class="flex flex-col dark:bg-gray-900">
						{% if formation.formation.imageName %}
							<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
								<img alt="" class="object-cover w-full h-52 dark:bg-gray-500" src="{{asset('uploads/images/formation/' ~ formation.formation.imageName) }}">
							</a>
						{% else %}
							<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum">
								<img alt="" class="object-cover w-full h-52 dark:bg-gray-500" src="https://source.unsplash.com/200x200/?fashion?1">
							</a>
						{% endif %}

						<div class="flex flex-col flex-1 p-6">
							<a rel="noopener noreferrer" href="#" aria-label="Te nulla oportere reprimique his dolorum"></a>
							<a rel="noopener noreferrer" href="#" class="text-xl tracki uppercase hover:underline dark:text-violet-400">{{ formation.formation.title }}
								({{ formation.formation.skill.name }})</a>
							<h3 class="flex-1 py-2 text-lg font-semibold leadi">{{ formation.formation.description|slice(0, 100) }}...</h3>
							<div class="flex flex-wrap justify-between pt-3 space-x-2 text-sm dark:text-gray-400">
								<span>Niveau
									{{ formation.formation.level.level }}</span>
								<span>
									<a class="px-4 py-3 bg-[#5B98D2] rounded text-white" href="{{path('back_app_formation_show', {'id': formation.formation.id, 'formation_register': formation})}}">Finir la formation</a>
								</span>
							</div>
						</div>
					</article>
				{% endfor %}
			</div>
		</div>
		<div class="w-full flex justify-center absolute bottom-0">
			{{ knp_pagination_render(pagination) }}
		</div>
	</section>


	{# <a href="{{ path('app_formation_new') }}">Create new</a> #}
{% endblock %}
