{% macro account_button() %}
	<div class="dropdown-btn relative">
		<button type="button" class="inline-flex gap-x-1.5 menu-button" aria-expanded="false" aria-haspopup="true">
			Mon compte
			<svg class="-mr-1 h-5 w-5" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
				<path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"/>
			</svg>
		</button>

		<div class="absolute right-0 z-10 mt-2 w-36 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dropdown" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="dropdown-menu">
			<div class="py-1" role="none">
				{# <a href="{{ path('back_app_settings_show') }}" class="text-gray-700 block px-4 py-2 text-sm header-dropdown-item" role="menuitem" tabindex="-1" id="menu-item-0">Paramètres</a> #}
				<a href="{{ path('app_logout') }}" class="text-gray-700 block px-4 py-2 text-sm header-dropdown-item" role="menuitem" tabindex="-1" id="menu-item-2">Déconnexion</a>
			</div>
		</div>
	</div>
{% endmacro %}

{% macro header() %}
	<div class="sidebar">
		<div class="logo"></div><a href="{{ path('back_default_index') }}"><img src="{{ asset('build/images/logo.png') }}" alt="logo"></a>
		<div class="flex flex-col space-y-6 justify-center text-white ml-12">
			{% if is_granted('ROLE_COLLABORATOR') %}
				<div class="flex justify-start space-x-4"  > <img src="{{ asset('build/images/Plaisirblanc.png')}}" alt="Logo de Formation" class="Carbon"><a href="{{ path('back_default_index') }}">
						myCarbon
				</a></div>
			{% endif %}
			{% if is_granted('ROLE_COLLABORATOR') or is_granted('ROLE_COM') %}
				<div class="flex justify-start space-x-4"  > <img src="{{ asset('build/images/Formationblanc.png')}}" alt="Logo de Formation" class="Carbon"><a href="{{ path('back_default_index') }}">
					Formation
				</a></div>
			{% endif %}
			<div class="flex justify-start space-x-4"  > <img src="{{ asset('build/images/Communautéet réunionblanc.png')}}" alt="Logo de Formation" class="Carbon"><a href="{{ path('back_default_index') }}">
					Evénement
			</a></div>
			{% if is_granted('ROLE_RH') %}
				<div class="flex justify-start space-x-4"  > <img src="{{ asset('build/images/Highfiveblanc.png')}}" alt="Logo de Formation" class="Carbon"><a href="{{ path('back_default_index') }}">
					Cooptation
				</a></div>
			{% endif %}
			{% if is_granted('ROLE_COLLABORATOR') %}
				<div class="flex justify-start space-x-4"  > <img src="{{ asset('build/images/Highfiveblanc.png')}}" alt="Logo de Formation" class="Carbon"><a href="{{ path('back_default_index') }}">
					Je coopt'
				</a></div>

				<div class="flex justify-start space-x-4"  > <img src="{{ asset('build/images/Sur-mesureblanc.png')}}" alt="Logo de Formation" class="Carbon"><a href="{{ path('back_default_index') }}">
						Mes contrats
				</a></div>
			{% endif %}

			<div class="flex justify-start space-x-4"  > <img src="{{ asset('build/images/Vector.png')}}" alt="Logo de Formation" class="Carbon"><a href="{{ path('back_default_index') }}">
					Déconnexion
				</a></div>
		</div>

	</div>

	<header class="header">


		{% if app.user and 'ROLE_USER' in app.user.roles %}

			 <ul>
				<li>
					<a href="{{ path('back_default_index') }}" class="{% if app.request.attributes.get('_route') == 'back_default_index' %}navbar-link-active{% endif %}">Tableau de bord</a>
				</li>
			</ul>
			{{ _self.account_button() }}
			<div class="hamburger-menu">
				<input id="menu-toggle" type="checkbox">
				<label for="menu-toggle">
					<span></span>
				</label>
			</div>
		{% else %}
			<div class="login">
				<a href="{{ path('app_login') }}" class="btn">Se connecter</a>
			</div>
		{% endif %}
	</header>
{% endmacro %}

{% macro footer() %}
	<footer class="footer">
		<p>&copy;
			{{ "now"|date("Y") }}
			Devisio. Tous droits réservés.</p>
	</footer>
{% endmacro %}

{% macro table_actions(entityType, entity) %}
	<div class="dropdown-actions">
		<button class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
			<i class="fa-solid fa-ellipsis-vertical"></i>
		</button>
		<div class="dropdown-menu">
			<a class="show" href="{{ path('back_app_' ~ entityType ~ '_show', { id: entity.id }) }}">
				<i class="fa-solid fa-eye"></i>
			</a>
			<a class="edit" href="{{ path('back_app_' ~ entityType ~ '_edit', { id: entity.id }) }}">
				<i class="fa-solid fa-pen"></i>
			</a>


			<form method="post" action="{{ path('back_app_' ~ entityType ~ '_delete', { id: entity.id }) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer cet élément ?');">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
				<button class="delete-button" type="submit">
					<i class="fa-solid fa-trash"></i>
				</button>
			</form>
		</div>
	</div>
{% endmacro %}
