{% extends 'base.html.twig' %}


{% block title %}
	myCarbon
{% endblock %}


{% block body %}
	<div class="w-full flex justify-center items-center">
		<div>
			<div class="flex flex-1 w-full max-w-7xl bg-white my-6">
				<div class="px-8 py-6">
					<img class="w-20 h-20 mb-6 rounded-full flex flex-1  " src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.firstname ~ " " ~ user.lastname }}">
					<p class="text-xl mb-[14px] mt-auto">Hey
						{{ user.firstname }}
						!</p>
					<p>Bienvenue sur ton espace personnel !</p>
				</div>
				<div class=" ml-20 px-8 py-6 flex flex-col" style="border-left: 1px solid black;">
					<p class="text-center text-xl mb-6">Compétences</p>
					{% if user.userSkills %}
						<div class="w-[200px]">

							<div class="w-full flex flex-col  space-y-3">
								{% for userSkill in user.userSkills|slice(0, 5) %}
									<div class="grid grid-cols-2 gap-x-5">
										<div>
											<p class="text-base mr-5">{{ userSkill.skill.name }}</p>
										</div>
										<div class="flex w-full items-center space-x-3">
											{% for star in range(1, userSkill.level.level) %}
												<img class="w-5 h-5" src="{{ asset('build/images/star.png') }}">
											{% endfor %}
										</div>
									</div>
								{% endfor %}

							</div>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="w-[785px] h-[124px] bg-white mb-[29px]">
				<div class="pt-[34px] pb-[24px] pl-[24px] text-xl">
					<p class="text-xl">Contrat en cours</p>
					{% if is_granted('ROLE_COLLABORATOR') %}
						<p class="text-2xl font-bold">{{ lastContract.offer.name }}</p>
					{% endif %}
			{% else %}
			PAS COLLAB !

				</div>
			</div>
			<div class="w-[785px] h-[298px] bg-white">
				<div class="pt-[34px] pb-[24px] pl-[24px] text-xl">
					<p>Mes recommandations</p>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
