{% extends 'base.html.twig' %}


{% block title %}
	myCarbon
{% endblock %}


{% block body %}
	<div class="w-full flex justify-around items-center h-full">

		<div>
			<div class="flex flex-1 w-full max-w-7xl bg-white my-6 h-full items-center">
				<div class="px-8 py-6">
					<img class="w-20 h-20 mb-6 rounded-full" src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.firstname ~ " " ~ user.lastname }}">
					<p class="text-xl mb-[14px] mt-auto">Hey
						{{ user.firstname }}
						!</p>
					<p>Bienvenue sur ton espace personnel !</p>
				</div>
				<div class=" ml-20 px-8 py-6 flex flex-col">
					<p class="text-xl mb-6">Top compétences</p>
					{% if user.userSkills %}
						<div class="w-[200px]">

							<div class="w-full flex flex-col  space-y-3">
								{% for userSkill in user.userSkills|slice(0, 4) %}
									<div class="grid grid-cols-2 gap-x-5">
										<div>
											<p class="text-base mr-5">{{ userSkill.skill.name }}</p>
										</div>
										<div class="flex w-full items-center space-x-3">
											{% for star in range(1, userSkill.level.level) %}
												<img class="w-5 h-5" src="{{ asset('build/images/star.png') }}">
											{% endfor %}
										</div>
									</div>
								{% endfor %}

							</div>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="w-[785px] h-[124px] bg-white mb-[29px]">
				<div class="pt-[34px] pb-[24px] pl-[24px] text-xl">
					<p class="text-xl">Contrat en cours</p>
					{% if is_granted('ROLE_COLLABORATOR') %}
						{% if lastContract.offer is defined %}
							<p class="text-2xl font-bold">{{ lastContract.offer.name }}</p>
							{% else %}
								<p class="text-2xl font-bold">Aucun contrat</p>
						{% endif %}
					{% else %}
						<p>PAS COLLAB!</p>
					{% endif %}

				</div>
			</div>
			<div class="w-[785px] h-[298px] bg-white">
				<div class="pt-[34px] pb-[35px] pl-[24px] text-xl">
					<p>Mes recommandations</p>
				</div>
				<div class="flex">
					<div class="pl-[24px] w-[50%]">

						{% for formation in formations %}
							<div class="flex w-full mb-[35px]">
								<img src="{{ asset('build/images/formation-red.png')}}" class="w-8 h-7 mr-[20px]" alt="">
								<p><a href="{{path('back_app_formation_show', {'id': formation.id})}}">{{ formation.title }}</a></p>
							</div>
						{% endfor %}
					</div>
					<div>
						<div class="pl-[24px] w-[50%]">
							{% for event in events %}
								<div class="flex w-full mb-[35px]">
									<img src="{{ asset('build/images/event-red.png')}}" class="w-8 h-7 mr-[20px]" alt="">
								<p><a href="{{path('back_app_event_show', {'id': event.id})}}">{{ event.title }}</a></p>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="h-[717px]">
			<div class="w-[400px] self-center mb-[20px]">
				{{ render_chart(chart) }}

			</div>
			<div class="h-[298px] w-full bg-white flex flex-col justify-center items-center">
				<p class="font-bold text-2xl mb-[10px]">{{ user.points }}
					Points Carbon</p>

				{% if user.points < 5 %}
					<div>
						<iframe src="https://giphy.com/embed/pnAnN3Y6IzIngnVoPE" class="giphy-embed w-20 h-20" allowfullscreen></iframe>
					</div>
				{% elseif user.points >= 10 %}
					<div>
						<iframe src="https://giphy.com/embed/bE18oZpogCk6ELu8w1" frameborder="0" class="giphy-embed w-40 h-40" allowfullscreen></iframe>
					</div>

				{% else %}
					<div>
						<iframe src="https://giphy.com/embed/ewh4ipgPw1bBVj4HI5" frameborder="0" class="giphy-embed w-20 h-20" allowfullscreen></iframe>
					</div>
				{% endif %}


			</div>
		</div>
	</div>
</div>{% endblock %}
